<!--I had done this below project when I was doing a JavaScript course from udemy after completeing the Harvard cs50's course-->

<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/stylehomepage.css" rel="stylesheet">
        <title>The chaser game.</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>The Chaser game.</h1>
        </div>
        <div class="container">
            <div class="section">


                <form action = "/" method = "post">
                    <input type = "submit" class = "button" value = "START THE GAME.">
                </form>
            </div>

        </div>
    </body>
</html>
